local weapon = "AK-47"

for i,v in pairs(game.Workspace.Prison_ITEMS.giver:GetChildren()) do

for i,v in pairs(v:GetChildren()) do
    
if v.Parent.Name == weapon then

v.CFrame = game.Players.LocalPlayer.Character.HumanoidRootPart.CFrame

end

end

end

